/* РЪ▒ SCOREBOARD (TEAMS) РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.home {
	color: #fff;
	opacity: none;
}
/* РЪ▒ BRICKS & TROPHIES РЪ▒сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.brick-wall h1 {
	position: absolute;
	margin-top: -26%;
	left: 37%;
	background-size: cover;
	z-index: 7;
	font-family: Manchester\ United\ 23-24\ Tipogra;
	font-size: 8vw;
	mix-blend-mode: overlay;
}
.brick-wall h1 span {
	color: #ec334d;
}
#trophies { display: none; }
/* РЪ▒ STATS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.stats-title span1 {
	position: absolute;
	font-family: myFont;
	font-size: 2.7vw;
	transform: translate(-85%, 70%);
	color: #ffdccc;
	text-shadow: 0 0 10px #ffb330, 0 0 10px #ffb330, 0 0 10px #ffb330, 0 0 10px #ffb330,
					   0 0 20px #fe5201, 0 0 20px #fe5201, 0 0 20px #fe5201,
					   0 0 40px #fe5201, 0 0 40px #fe5201,
					   0 0 80px #fe5201, 0 0 80px #fe5201,
					   0 0 120px #fe5201, 0 0 120px #fe5201;
}
/* РЪ▒ PLAYER PERFORMANCE РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
#cursor-change {
	cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='23px' height='28px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23080101' d='M 2.5,3.5 C 7.1586,6.16843 11.4919,9.3351 15.5,13C 9.07438,12.1868 4.74104,14.6868 2.5,20.5C 1.16667,14.8333 1.16667,9.16667 2.5,3.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23af231e' d='M 3.5,1.5 C 9.3796,5.26653 15.0463,9.26653 20.5,13.5C 17.023,14.3227 13.3563,14.8227 9.5,15C 8.74756,15.6708 8.41423,16.5041 8.5,17.5C 7.20027,20.4323 5.20027,22.7656 2.5,24.5C 2.5,23.1667 2.5,21.8333 2.5,20.5C 4.74104,14.6868 9.07438,12.1868 15.5,13C 11.4919,9.3351 7.1586,6.16843 2.5,3.5C 2.32842,2.50838 2.66175,1.84171 3.5,1.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23bab7d0' d='M 20.5,13.5 C 21.1667,13.8333 21.8333,14.1667 22.5,14.5C 22.5,15.5 22.5,16.5 22.5,17.5C 17.8665,16.8663 13.1998,16.8663 8.5,17.5C 8.41423,16.5041 8.74756,15.6708 9.5,15C 13.3563,14.8227 17.023,14.3227 20.5,13.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23b4bcca' d='M -0.5,-0.5 C 0.166667,-0.5 0.833333,-0.5 1.5,-0.5C 2.16667,0.166667 2.83333,0.833333 3.5,1.5C 2.66175,1.84171 2.32842,2.50838 2.5,3.5C 1.16667,9.16667 1.16667,14.8333 2.5,20.5C 2.5,21.8333 2.5,23.1667 2.5,24.5C 1.89022,25.391 1.55688,26.391 1.5,27.5C 0.833333,27.5 0.166667,27.5 -0.5,27.5C -0.5,18.1667 -0.5,8.83333 -0.5,-0.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A") 1 1, auto;
}
.player-performance-title {
	display: none;
}
/* РЪ▒ KITS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.kits {
	background-image: url(../2024-25/kits.png);
}
/* 	РЪ▒ DATE | TIME | COMPETITION STAGE РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ сђљРЎдсђЉ */
.date-time {
	opacity: initial;
}
/* РЪ▒ PRESEASON, MATCHES, INTERNATIONAL BREAK РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
[itemid="dropdown-matches"] {
	margin-right: -10vw;
}
.dropdown-preseason {
	background-image: url(../2024-25/pre-season.png);
}
.dropdown-1st-match {
	background-image: url(../2024-25/1st-match.png);
}
.dropdown-2nd-match {
	background-image: url(../2024-25/2nd-match.png);
}
.dropdown-3rd-match {
	background-image: url(../2024-25/3rd-match.png);
}
.dropdown-4th-match {
	background-image: url(../2024-25/4th-match.png);
}
.dropdown-35th-match {
	background-image: url(../2024-25/35th-match.png);
}
.dropdown-36th-match {
	background-image: url(../2024-25/36th-match.png);
}
.dropdown-37th-match {
	background-image: url(../2024-25/37th-match.png);
}
.dropdown-38th-match {
	background-image: url(../2024-25/38th-match.png);
}
.dropdown-39th-match {
	background-image: url(../2024-25/39th-match.png);
}
.dropdown-40th-match {
	background-image: url(../2024-25/40th-match.png);
}
.dropdown-41st-match {
	background-image: url(../2024-25/41st-match.png);
}
.dropdown-42nd-match {
	background-image: url(../2024-25/42nd-match.png);
}
.dropdown-43rd-match {
	background-image: url(../2024-25/43rd-match.png);
}
.dropdown-44th-match {
	background-image: url(../2024-25/44th-match.png);
}
.dropdown-45th-match {
	background-image: url(../2024-25/45th-match.png);
}
.dropdown-46th-match {
	background-image: url(../2024-25/46th-match.png);
}
.dropdown-47th-match {
	background-image: url(../2024-25/47th-match.png);
}
.dropdown-48th-match {
	background-image: url(../2024-25/48th-match.png);
}
.dropdown-49th-match {
	background-image: url(../2024-25/49th-match.png);
}
.dropdown-50th-match {
	background-image: url(../2024-25/50th-match.png);
}
.dropdown-51st-match {
	background-image: url(../2024-25/51st-match.png);
}
.dropdown-52nd-match {
	background-image: url(../2024-25/52nd-match.png);
}
.dropdown-53rd-match {
	background-image: url(../2024-25/53rd-match.png);
}
.dropdown-54th-match {
	background-image: url(../2024-25/54th-match.png);
}
.dropdown-55th-match {
	background-image: url(../2024-25/55th-match.png);
}
.dropdown-56th-match {
	background-image: url(../2024-25/56th-match.png);
}
.dropdown-57th-match {
	background-image: url(../2024-25/57th-match.png);
}
.dropdown-58th-match {
	background-image: url(../2024-25/58th-match.png);
}
/* РЪ▒ BADGE-SPONSOR SPIN РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
/* BADGE-SPONSOR SPIN: HISTORICAL */
.home-1stkit-1-left {
	background: url(../core/2024-25-1kit.png);
	background-size: 100% 100%;
}
.home-1stkit-1-right {
	background: url(../core/2024-25-1kit.png);
	background-size: 100% 100%;
}

.away-2ndkit-1-left {
	background: url(../core/2024-25-2kit.png);
	background-size: 100% 100%;
	text-align: center;
}
.away-2ndkit-1-right {
	background: url(../core/2024-25-2kit.png);
	background-size: 100% 100%;
}

.away-3rdkit-1-left {
	background: url(../core/2024-25-3kit.png);
	background-size: 100% 100%;
}
.away-3rdkit-1-right {
	background: url(../core/2024-25-3kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: HISTORICAL */
/* BADGE-SPONSOR SPIN: STARTING XI */
.home-1stkit-2-left {
	background: url(../core/2024-25-1kit.png);
	background-size: 100% 100%;
}
.home-1stkit-2-right {
	background: url(../core/2024-25-1kit.png);
	background-size: 100% 100%;
}

.away-2ndkit-2-left {
	background: url(../core/2024-25-2kit.png);
	background-size: 100% 100%;
}
.away-2ndkit-2-right {
	background: url(../core/2024-25-2kit.png);
	background-size: 100% 100%;
}

.away-3rdkit-2-left {
	background: url(../core/2024-25-3kit.png);
	background-size: 100% 100%;
}
.away-3rdkit-2-right {
	background: url(../core/2024-25-3kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: STARTING XI */
/* BADGE-SPONSOR SPIN: SCREEN BOARDS NEXT TO LINKS */
.left1 {
	background: url(../core/2007-08-1kit.png);
	background-size: 100% 100%;
}
.left2 {
	background: url(../core/2003-05-2kit.png);
	background-size: 100% 100%;
}
.left3 {
	background: url(../core/2020-21-3kit.png);
	background-size: 100% 100%;
}
.left4 {
	background: url(../core/1995-96-1kit.png);
	background-size: 100% 100%;
}
.right1 {
	background: url(../core/1990-92-2kit.png);
	background-size: 100% 100%;
}
.right2 {
	background: url(../core/2002-03-1kit.png);
	background-size: 100% 100%;
}
.right3 {
	background: url(../core/1992-94-3kit.png);
	background-size: 100% 100%;
}
.right4 {
	background: url(../core/2008-09-3kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: SCREEN BOARDS NEXT TO LINKS */
/* РЪ░ BADGE-SPONSOR SPIN РЪ░ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
/* РЪ▒ BOTTOM & FOOTER РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.bottom-isometric::before {
content: "2024/25";
}

/* TABLET: LARGER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */
@media only screen and (max-width: 1100px) {  /* TABLET: LARGER SCREEN ­Ъћ│ */
	/* РЪ▒ BRICKS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
	.brick-wall h1 {
		position: absolute;
		margin-top: -50%;
		left: 27%;
		background-size: cover;
		z-index: 7;
		font-family: Manchester\ United\ 23-24\ Tipogra;
		font-size: 16vw;
		mix-blend-mode: overlay;
	}
	/* РЪ▒ STATS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */	
	.stats-title {
		left: 65%;
	}
	.stats-title span1 {
		font-size: 4vw;
		transform: translate(-85%, 90%);
	}
}
/* TABLET: LARGER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */