/* РЪ▒ SCOREBOARD (TEAMS) РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.scoreboard-teams {
	display: flex;  /* addition to move the text to the left */
	text-align: initial;  /* addition to avoid text centering */
}
.home span {
	color: #fff;
	/* color: #da020e;
	text-shadow: 0 0 2px #da020e; */
	opacity: none;
}
.home {
	/* color: #fff; */
	color: #da020e;
	text-shadow: 0 0 2px #da020e;
	opacity: none;
}
/* РЪ▒ BRICKS & TROPHIES РЪ▒сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.brick-wall h1 {
	position: absolute;
	margin-top: -25%;
	left: 35.5%;
	background-size: cover;
	z-index: 7;
	font-family: TSPmu2025;
	font-size: 5.9vw;
	mix-blend-mode: overlay;
}
.brick-wall h1 span1 {
	font-family: Manchester\ United\ 23-24\ Tipogra;
	font-size: 6vw;
}
.brick-wall h1 span2 {
	color: #ec334d;
}
/* РЪ▒ STATS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.stats-title span1 {
	position: absolute;
	font-family: myFont;
	font-size: 2.7vw;
	transform: translate(-85%, 70%);
	color: #ffdccc;
	text-shadow: 0 0 10px #ffb330, 0 0 10px #ffb330, 0 0 10px #ffb330, 0 0 10px #ffb330,
					   0 0 20px #fe5201, 0 0 20px #fe5201, 0 0 20px #fe5201,
					   0 0 40px #fe5201, 0 0 40px #fe5201,
					   0 0 80px #fe5201, 0 0 80px #fe5201,
					   0 0 120px #fe5201, 0 0 120px #fe5201;
}
/* РЪ▒ KITS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.kits {
	background-image: url(../2025-26/kits.png);
}
/* РЪ▒ PRESEASON, MATCHES, INTERNATIONAL BREAK РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.dropdown-preseason {
	background-image: url(../2025-26/pre-season.png);
}
.dropdown-1st-match {
	background-image: url(../2025-26/1st-match.png);
}
.dropdown-2nd-match {
	background-image: url(../2025-26/2nd-match.png);
}
.dropdown-3rd-match {
	background-image: url(../2025-26/3rd-match.png);
}
.dropdown-4th-match {
	background-image: url(../2025-26/4th-match.png);
}
.dropdown-5th-match {
	background-image: url(../2025-26/5th-match.png);
}
.dropdown-6th-match {
	background-image: url(../2025-26/6th-match.png);
}
.dropdown-7th-match {
	background-image: url(../2025-26/7th-match.png);
}
.dropdown-8th-match {
	background-image: url(../2025-26/8th-match.png);
}
.dropdown-9th-match {
	background-image: url(../2025-26/9th-match.png);
}
.dropdown-10th-match {
	background-image: url(../2025-26/10th-match.png);
}
.dropdown-11th-match {
	background-image: url(../2025-26/11th-match.png);
}
.dropdown-12th-match {
	background-image: url(../2025-26/12th-match.png);
}
.dropdown-13th-match {
	background-image: url(../2025-26/13th-match.png);
}
.dropdown-14th-match {
	background-image: url(../2025-26/14th-match.png);
}
.dropdown-15th-match {
	background-image: url(../2025-26/15th-match.png);
}
.dropdown-16th-match {
	background-image: url(../2025-26/16th-match.png);
}
.dropdown-17th-match {
	background-image: url(../2025-26/17th-match.png);
}
.dropdown-18th-match {
	background-image: url(../2025-26/18th-match.png);
}
.dropdown-19th-match {
	background-image: url(../2025-26/19th-match.png);
}
.dropdown-20th-match {
	background-image: url(../2025-26/20th-match.png);
}
.dropdown-21st-match {
	background-image: url(../2025-26/21st-match.png);
}
.dropdown-22nd-match {
	background-image: url(../2025-26/22nd-match.png);
}
.dropdown-23rd-match {
	background-image: url(../2025-26/23rd-match.png);
}
.dropdown-24th-match {
	background-image: url(../2025-26/24th-match.png);
}
.dropdown-25th-match {
	background-image: url(../2025-26/25th-match.png);
}
.dropdown-26th-match {
	background-image: url(../2025-26/26th-match.png);
}
.dropdown-27th-match {
	background-image: url(../2025-26/27th-match.png);
}

/* MATCH 27 */
#button-score-news27 h87 { display: none; }
#button-score-news27:hover {
	background: white;
	box-shadow: 0 0 5px white,
					   0 0 25px white,
					   0 0 50px white,
					   0 0 200px white;
}
/* 	MATCH 27 // BUTTON: ROTATE ANIMATION */
#button-score-news27 span:nth-child(1) {
	background: linear-gradient(90deg, transparent, white);
}
#button-score-news27 span:nth-child(3) {
	background: linear-gradient(270deg, transparent, white);
}
#button-score-news27 span:nth-child(2) {
	background: linear-gradient(180deg, transparent, white);
}
#button-score-news27 span:nth-child(4) {
	background: linear-gradient(360deg, transparent, white);
}

.dropdown-28th-match {
	background-image: url(../2025-26/28th-match.png);
}
.dropdown-29th-match {
	background-image: url(../2025-26/29th-match.png);
}
.dropdown-30th-match {
	background-image: url(../2025-26/30th-match.png);
}
.dropdown-31st-match {
	background-image: url(../2025-26/31st-match.png);
}
.dropdown-32nd-match {
	background-image: url(../2025-26/32nd-match.png);
}
.dropdown-33rd-match {
	background-image: url(../2025-26/33rd-match.png);
}
.dropdown-34th-match {
	background-image: url(../2025-26/34th-match.png);
}
.dropdown-35th-match {
	background-image: url(../2025-26/35th-match.png);
}
.dropdown-36th-match {
	background-image: url(../2025-26/36th-match.png);
}
.dropdown-37th-match {
	background-image: url(../2025-26/37th-match.png);
}
.dropdown-38th-match {
	background-image: url(../2025-26/38th-match.png);
}
.dropdown-39th-match {
	background-image: url(../2025-26/39th-match.png);
}
.dropdown-40th-match {
	background-image: url(../2025-26/40th-match.png);
}
.dropdown-41st-match {
	background-image: url(../2025-26/41st-match.png);
}
.dropdown-42nd-match {
	background-image: url(../2025-26/42nd-match.png);
}
.dropdown-43rd-match {
	background-image: url(../2025-26/43rd-match.png);
}
.dropdown-44th-match {
	background-image: url(../2025-26/44th-match.png);
}
.dropdown-45th-match {
	background-image: url(../2025-26/45th-match.png);
}
.dropdown-46th-match {
	background-image: url(../2025-26/46th-match.png);
}
.dropdown-47th-match {
	background-image: url(../2025-26/47th-match.png);
}
.dropdown-48th-match {
	background-image: url(../2025-26/48th-match.png);
}
.dropdown-49th-match {
	background-image: url(../2025-26/49th-match.png);
}
.dropdown-50th-match {
	background-image: url(../2025-26/50th-match.png);
}
.dropdown-51st-match {
	background-image: url(../2025-26/51st-match.png);
}
.dropdown-52nd-match {
	background-image: url(../2025-26/52nd-match.png);
}
.dropdown-53rd-match {
	background-image: url(../2025-26/53rd-match.png);
}
.dropdown-54th-match {
	background-image: url(../2025-26/54th-match.png);
}
.dropdown-55th-match {
	background-image: url(../2025-26/55th-match.png);
}
.dropdown-56th-match {
	background-image: url(../2025-26/56th-match.png);
}
.dropdown-57th-match {
	background-image: url(../2025-26/57th-match.png);
}
.dropdown-58th-match {
	background-image: url(../2025-26/58th-match.png);
}
.dropdown59th-match {
	background-image: url(../2025-26/59th-match.png);
}
.dropdown-60th-match {
	background-image: url(../2025-26/60th-match.png);
}
.dropdown-61st-match {
	background-image: url(../2025-26/61st-match.png);
}
.dropdown-62nd-match {
	background-image: url(../2025-26/62nd-match.png);
}
.dropdown-63rd-match {
	background-image: url(../2025-26/63rd-match.png);
}
.dropdown-64th-match {
	background-image: url(../2025-26/64th-match.png);
}
.dropdown-67th-match {
	background-image: url(../2025-26/67th-match.png);
}
.dropdown-68th-match {
	background-image: url(../2025-26/68th-match.png);
}
.dropdown-69th-match {
	background-image: url(../2025-26/69th-match.png);
}
.dropdown-70th-match {
	background-image: url(../2025-26/70th-match.png);
}
/* РЪ░ PRESEASON, MATCHES, INTERNATIONAL BREAK РЪ░ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
/* РЪ▒ BADGE-SPONSOR SPIN РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
/* BADGE-SPONSOR SPIN: HISTORICAL */
.home-1stkit-1-left {
	background: url(../core/2025-26-1kit.png);
	background-size: 100% 100%;
}
.home-1stkit-1-right {
	background: url(../core/2025-26-1kit.png);
	background-size: 100% 100%;
}

.away-2ndkit-1-left {
	background: url(../core/2025-26-2kit.png);
	background-size: 100% 100%;
}
.away-2ndkit-1-right {
	background: url(../core/2025-26-2kit.png);
	background-size: 100% 100%;
}

.away-3rdkit-1-left {
	background: url(../core/2025-26-3kit.png);
	background-size: 100% 100%;
}
.away-3rdkit-1-right {
	background: url(../core/2025-26-3kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: HISTORICAL */
/* BADGE-SPONSOR SPIN: STARTING XI */
.home-1stkit-2-left {
	background: url(../core/2025-26-1kit.png);
	background-size: 100% 100%;
}
.home-1stkit-2-right {
	background: url(../core/2025-26-1kit.png);
	background-size: 100% 100%;
}

.away-2ndkit-2-left {
	background: url(../core/2025-26-2kit.png);
	background-size: 100% 100%;
}
.away-2ndkit-2-right {
	background: url(../core/2025-26-2kit.png);
	background-size: 100% 100%;
}

.away-3rdkit-2-left {
	background: url(../core/2025-26-3kit.png);
	background-size: 100% 100%;
}
.away-3rdkit-2-right {
	background: url(../core/2025-26-3kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: STARTING XI */
/* BADGE-SPONSOR SPIN: SCREEN BOARDS NEXT TO LINKS */
.left1 {
	background: url(../core/2009-10-2kit.png);
	background-size: 100% 100%;
}
.left2 {
	background: url(../core/2012-13-1kit.png);
	background-size: 100% 100%;
}
.left3 {
	background: url(../core/1995-96-2kit.png);
	background-size: 100% 100%;
}
.left4 {
	background: url(../core/2005-06-2kit.png);
	background-size: 100% 100%;
}
.right1 {
	background: url(../core/2018-19-1kit.png);
	background-size: 100% 100%;
}
.right2 {
	background: url(../core/2022-23-3kit.png);
	background-size: 100% 100%;
}
.right3 {
	background: url(../core/1998-99-1kit.png);
	background-size: 100% 100%;
}
.right4 {
	background: url(../core/2010-11-2kit.png);
	background-size: 100% 100%;
}
/* BADGE-SPONSOR SPIN: SCREEN BOARDS NEXT TO LINKS */
/* РЪ░ BADGE-SPONSOR SPIN РЪ░ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
/* РЪ▒ BOTTOM & FOOTER РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
.bottom-isometric::before {
content: "2025/26";
}

/* TABLET: LARGER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */
@media only screen and (max-width: 1100px) {  /* TABLET: LARGER SCREEN ­Ъћ│ */
	/* РЪ▒ BRICKS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
	.brick-wall h1 {
		position: absolute;
		margin-top: -46%;
		left: 28%;
		background-size: cover;
		z-index: 7;
		font-family: TSPmu2025;
		font-size: 10vw;
		mix-blend-mode: overlay;
	}
	.brick-wall h1 span1 {
		font-family: Manchester\ United\ 23-24\ Tipogra;
		font-size: 11vw;
	}
	/* РЪ▒ STATS РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */	
	.stats-title {
		left: 65%;
	}
	.stats-title span1 {
		font-size: 4vw;
		transform: translate(-85%, 90%);
	}

	/* MATCH 27 */
	#button-score-news27 h86 { display: none; }
	#button-score-news27 h87 { display: initial; }
}
/* TABLET: LARGER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */

/* TABLET: SMALLER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */
@media only screen and (max-width: 830px) {  /* TABLET: SMALLER SCREEN РгЏ */
	/* РЪ▒ SCOREBOARD (TEAMS) РЪ▒ сђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉсђљРЎдсђЉ */
	.scoreboard-teams { display: none; }
	.scoreboard-teams-mobile {
		display: flex;  /* addition to move the text to the left */
		text-align: initial;  /* addition to avoid text centering */
	}
}
/* TABLET: SMALLER SCREEN  ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ   ­Ъћ│   РгЏ       */