@font-face{
	font-family: myFont;
	src: url(../fonts/BeonMedium-6d51.otf);
	/* src: url(../fonts/Lostwages-vZl9.ttf);
	src: url(../fonts/Celinea-nRGpO.otf);
	src: url(../fonts/Library3amsoft-6zgq.otf);
	src: url(../fonts/Neoneon-3zaD6.otf);
	src: url(../fonts/Rookworst-RpBXe.ttf);
	src: url(../fonts/Salonica-eZnJO.otf); */
}

* {
	margin:  0;
	padding:  0;
}

::-webkit-scrollbar {
	height:  .1rem;
	width:  .5rem;
}

::-webkit-scrollbar-track {
	background-color:  #67ccff;
}

::-webkit-slider-thumb {
	background-color:  #194eb9;
	border-radius: 5rem;
}

body {
	font-family: myFont;
	background-color:  #353237 ;
    color:  #fff;
    box-sizing: border-box
}

.menu-bar {
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
}

.menu-bar img {
	position: relative;
	width: 150px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	/* addition // control distance between logo and "SUPPORT & DONATE" */
	/* margin-right: 50px; */
	/* helps set margins equal both sides of the logo */
	padding: 0 3em;
}

.menu-bar li {
	margin-left: 1rem;
	padding: 0 1em;
}